@*13.6.5*@

@*<h1>Add Event</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input name="description" />
    </div>
    <input type="submit" value="Add Event" />
</form>*@



<form method="post">
    <div class="form-group">
        <label>
            Name
            <input type="text" name="name" class="form-control">
        </label>
        <label>
            Description
            <input type="text" name="description" class="form-control">
        </label>
    </div>
    <input type="submit" value="Add Event" />
</form>
